.allTask {
  width: 40%;
  background-color: #eaeaea;
  height: 92vh;
  padding: 2rem;
  overflow: auto;

  h2 {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #545454;
  }

  .todo-item {
    display: flex;
    align-items: center;
    background-color: rgb(171, 95, 241);
    padding-top: 2rem;
    color: white;
    padding: 10px 1rem;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1rem;

    h3 {
      padding-bottom: 0.3rem;
    }

    svg {
      cursor: pointer;
    }

    .info {
      width: 90%;
      padding-left: 1rem;
    }
  }
}

.completedTask {
  width: 40%;
  background-color: #eaeaea;
  height: 92vh;
}

.pendingTask {
  width: 40%;
  background-color: #eaeaea;
  height: 92vh;
}

// utility
.completedClass {
  text-decoration: line-through;
  opacity: 0.5;
}
